<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <title>Edit</title>
    </head>
    <body>
    <aside>
        <h1>CHANGE DATA</h1></aside>
        <form action="" method="post">
        <h2>Name: {{ name }}</h2>
            <div class="forms">
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <h2>Date: {{ date }}</h2>
            <div class="forms">
            {{ form.date(class="form-control") }}<br>
            {% for error in form.date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <h2>Gifts offered: {% for user in spisok %}
            {{ user }}
            {% endfor %}</h2>
        <div class="forms">
            {{ form.presents(class="form-control") }}<br>
            {% for error in form.presents.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    <br><br><div class="forms"><p>{{ form.submit(type="submit", class="btn btn-primary") }}</p></div>
        <div>{{ message }}</div>
    <a class="button2" href={{link}}><span>Delete</span></a>
        </form>
    </body>
</html>