<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Все др</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
{% extends "base.html" %}
{% block content %}
<aside>
<br><h1>YOUR LIST</h1><form2 action="" method="post">
    <a class="button3" href={{add_link}}><span>Add new</span></a>
    <a class="button3"><span>Сhronologically</span></a>
    <a class="button3"><span>As added</span></a>
    <a class="button3"><span>Show</span></a>
<font size="4">{{ filter.filter.label }}</font>
{{ filter.filter(class="form-control") }}<br>
            {% for error in filter.filter.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %} </form2>
</aside>
<br><table cellspacing="0px">
      <thead>
        <tr>
          <th class="col1"><h3>Name</h3></th>
          <th class="col1"><h3>Date</h3></th>
          <th class="col1"><h3>Presents</h3></th>
          <th class="col1"><h3>Edit data</h3></th>
        </tr>
      </thead>
      <tbody>
      {% for i in range(length) %}
        <tr>
          {% for el in param[i] %}
              <td class="col1">{{ el }}</td>
          {% endfor %}
          {% set link = birthday_link + ids[i] %}
          <td class="col1"><a class="button1" href={{birthday_link}}><span>View</span></a>
          <a class="button2" href={{birthday_link}}><span>Delete</span></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}