<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <title>Просмотр</title>
    </head>
<body>
    <aside>
        <h1>VIEWING THE DATE</h1></aside>
        <form3 action="" method="post"><aside>
        <h2>Date: {{ date }} | Name: {{ name }} | Days left: {{ left }}</h2></aside>
        <h4>Gifts offered:</h4>
        <ul>
            {% for user in spisok %}
                <li><p>{{ user }}</p></li>
            {% endfor %}
        </ul>
        <a class="button3" href="/change"><span>Change</span></a>
        </form3>
</body>
</html>