<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <title>View</title>
    </head>
<body>
    <aside>
        <h1>VIEWING THE DATE</h1></aside>
        <form3 action="" method="post">
        <h2>Name: {{ name }}</h2>
        <h2>Date: {{ date }} | Days left: {{ left }}</h2>
        <h2>Gifts offered:</h2>
        <ul>
            {% for user in spisok %}
                <h2><li>{{ user }}</li></h2>
            {% endfor %}
        </ul>
        <br><a class="button1" href={{link}}><span>Change</span></a>
        <a class="button2" href={{link2}}><span>Back</span></a><br><h4></h4>
        </form3>
</body>
</html>